:root {
	--black: #00041a;
	--deep-blue: #040b28;
	--light-blue: #465772;
	--white-blue: #e3e7ec;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

header {
	display: grid;
	place-content: center;
	padding: 2rem;
	color: white;
	font-size: 1.2em;
	background-color: var(--black);
}

header > * {
	position: relative;
}

header > *::before {
	position: absolute;
	content: '';
	width: 1.3em;
	height: 1.3em;
	background-image: url('./assets/movie-ticket-svgrepo-com.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	top: 0.5rem;
	left: -6rem;
}

.film-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	align-items: center;
	margin-top: 3rem;
}

.film {
	position: relative;
	cursor: pointer;
}

.delete-button {
	display: inline-block;
	position: absolute;
	bottom: 3px;
	width: 1.7rem;
	height: 1.7rem;
	background-image: url('./assets/trash-bin-trash-svgrepo-com.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

div.divider:not(:last-child) {
	background-color: slategrey;
	width: 30%;
	height: 1px;
}

img {
	width: 40rem;
	height: max(100%, 86.3vh);
}

.card {
	margin: 2rem;
	border: 2px solid var(--black);
	height: 39rem;
	background-color: var(--white-blue);
	border-radius: 16px;
}

.card > div:first-child {
	background-color: var(--deep-blue);
	color: white;
	border-radius: 12px 12px 0 0;
	padding: 1.5rem;
}

div:has(> .showtime) {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.showtime,
.card button {
	border: 1px solid var(--black);
	border-radius: 4px;
	padding: 0.3rem 1rem;
	background-color: var(--light-blue);
	color: white;
}
.card .runtime {
	color: blue;
}

[type='number'] {
	width: 3.6rem;
	padding: 0.2rem 0;
	text-align: left;
	border-radius: 4px;
	color: black;
	border: 1.5px solid var(--black);
}

.card .title {
	font-size: 1.2em;
}

.card > * {
	padding: 1rem;
}
